@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0; /**обнулим отступы**/
    padding: 0;
    font-family: 'Roboto', sans-serif;
} 

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: url(https://unsplash.com/photos/mfIplTZLE6E/download?force=true&w=1920) bottom no-repeat;
    background-size: cover;
}

h1 { /**красивый стиль из шаблона**/
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: #090a20;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
}

.news {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 32px;
}

.news article:nth-child(2n)  {  /* стилизация четных дочерних элементов */
    background-color: rgb(160, 160, 160);     /* устанавливаем цвет заднего фона */
    }

h2::after {  /* к заголовкам пeрвых 2х новостей слово нью */
    content: "NEW";
    color: red;
    font-size: 0.5em;
    vertical-align: top;
    }

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

article a {
    color: rgb(33, 37, 41);
}

article a:hover {
    color: darkcyan;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

article img {
    color: darkgray;
    margin-bottom: 5px;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links > a {
    color: grey;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: olive;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}